body,
html {
  height: 100%;
  margin: 0;
}
.bg {
  background-image: url("https://source.unsplash.com/random/1920x1080?game");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.play-area {
  display: none;
}

.images-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.image-btn {
  position: relative;
  cursor: pointer;
  width: 600px; /* Set the desired square size */
  height: 600px; /* Set the desired square size */
  display: inline-block;
  overflow: hidden; /* Ensures the image is cropped to the container size */
}

.image-btn img {
  width: 95%; /* Make the image fill the container width */
  height: 95%; /* Make the image fill the container height */
  object-fit: cover; /* Crop the image to cover the area without distortion */
  display: block;
}

.image-btn span {
  position: absolute;
  bottom: 10px; /* Adjust based on the actual layout */
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Ensure text is visible on your images */
  font-weight: bold;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: adds background to text for better visibility */
  padding: 5px;
}

.answer-display {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.score-container {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

#score {
  font-size: 20px;
  font-weight: bold;
}

#bestRecord {
  font-size: 16px;
}

.selection-menu {
  display: none; /* Initially hidden */
  position: absolute;
  right: 10px;
  top: 60px; /* Adjust based on the actual layout */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.selection-menu button {
  display: block;
  margin-bottom: 5px;
}
.message-display {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  display: none;
}
